
<div class="container mt-5">
  <div class="con">
 
    <h1 contenteditable>CHOISISSEZ VOTRE  CHAMPIONS  </h1>
  
  </div>
  
  <div class="col-4 mt-5">
    <i class="bi bi-search"></i>
    <input class="form-control W-50" list="championList" name="rechercher" [(ngModel)]="rechercher"
      (input)="filterChampions()" placeholder="Select your champion">
    <datalist id="championList">
      <option *ngFor="let ch of champions | keyvalue" [value]="ch.value.name">
        {{ ch.value.name }}
      </option>
    </datalist>
   </div>



  <mat-tab-group [selectedIndex]="0">
    
    <mat-tab label="ALL CHAMPIONS" class="mt-5">
      <div class="row W-100">
   
          <mat-card class="example-card shadow" *ngFor="let ch of filteredChampions | keyvalue"
          style="margin-top: 5px; margin-right: 3px; margin-left:5px ; ">
         
          <img mat-card-image class="p-2" [src]="ch.value.img" [alt]="ch.value.name"  
            (click)="openChampionDetails(ch.value)"><br>
          <mat-card-content>
           
            <b> 
              {{ch.value.title}}</b>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="openChampionDetails(ch.value)">Choisir champion </button>
          </mat-card-actions>
          
        </mat-card>
         </div>
 
    </mat-tab>

    <ng-container *ngFor="let tag of getUniqueTags(champions)">
      <mat-tab [label]="tag" >
        <div class="row W-100">
          <ng-container *ngFor="let ch of filteredChampions | keyvalue">
            <ng-container *ngIf="ch.value.tags.includes(tag) && ch.value.tags.length > 0">
              <mat-card class="example-card shadow" (click)="openChampionDetails(ch.value)"
                style="margin-top: 5px; margin-right: 3px; margin-left:5px ; ">
                <mat-card-header>
                  <mat-card-title>{{ch.value.name}}</mat-card-title>
                  <mat-card-subtitle>{{ch.value.title}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="p-2" [src]="ch.value.img" [alt]="ch.value.name"><br>
                <mat-card-content>
                  <p>
                    {{ch.value.title}}
                  </p>
                  <b> {{ ch.value.tags.join(' - ') }}</b>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary" (click)="openChampionDetails(ch.value)">Choisir champion </button>
                </mat-card-actions>
              </mat-card>
            </ng-container>
          </ng-container>
        </div>
      </mat-tab>
    </ng-container>
    
  </mat-tab-group>
</div>